span { 
    color: yellow;
}

#header {
    background-color: teal;
}

.digit {
    font-size: xx-large;
}

body {
    background-color: whitesmoke;
}

.digit {
    margin-left: 20px;
}
.header-buttons > * {
    display: inline;
    position: relative;
}

.header-buttons > a {
    border-width: 5px;
    border-color:black;
    border-style: solid;
    padding-left: 20px;
    margin-left: 60px;
}

#footer * {
   text-align: center;
   border: 3px solid green;
}
.test {
    background-color: blue;
    width: 400px;
    margin: 0 auto; 
    
}
.bird1, .bird2 {
    background-color: coral;
    display: inline-block;
    width: 200px;
    height:300px;
    border: 1px solid #466995;
    float:left;

}

 .container{
     background-color: darkblue;
     clear: both;
 }
 .child {
    display: inline-flex;
    width: 150px;
    height: auto;
  }